.header
  .header__contents
    .header__title ReQuest
    .header__user
      %ul
        %li ログアウト

.sidebar
  .sidebar__my-request
    .sidebar__request--name 渋谷〇〇の限定スイーツ
    .sidebar__request--limit 期限：2020/1/30
    .sidebar__request--message test1
  .sidebar__task-request
    .sidebar__request--name 渋谷〇〇の限定スイーツ
    .sidebar__request--limit 期限：2020/1/30
    .sidebar__request--message test2
    
.main
  .main__request
    .main__request--name 渋谷〇〇の限定スイーツ
    .main__request--reward 報酬金：¥3,000
    .main__request--location 場所：渋谷
    .main__request--limit 期限：2020/1/30

.footer
  .footer__contents
    %ul
      %li HOME
      %li REQUEST
      %li MESSAGE
      