.footer
  .footer__contents
    .footer__contents-btn
      = link_to("HOME", root_path)
    .footer__contents-btn
      - if user_signed_in?
        = link_to("NEW-MAP",  new_map_path)
    .footer__contents-btn MYPAGE