.header
  .header__contents
    .header__contents--title ReQuest
    -# .header__contents--login
    -#   = link_to('ログイン', new_user_session_path)
    -# .header__contents--logout
    -#   = link_to('ログアウト', destroy_user_session_path, method: :delete)
    -# .header__contents--new
    -#   = link_to('新規登録', new_user_registration_path)