.sidebar
  .sidebar__my-area
    .sidebar__my-request
      .sidebar__request--name 渋谷〇〇の限定スイーツ
      .sidebar__request--limit 期限：2020/1/30
      .sidebar__request--message test1
  .sidebar__task-area
    .sidebar__task-request
      .sidebar__request--name 渋谷〇〇の限定スイーツ
      .sidebar__request--limit 期限：2020/1/30
      .sidebar__request--message test2