.header
  .header__contents
    .header__contents--title ReQuest
    .header__contents--login ログイン
    .header__contents--logout ログアウト

.wrapper
  .sidebar
    .sidebar__my-area
      .sidebar__my-request
        .sidebar__request--name 渋谷〇〇の限定スイーツ
        .sidebar__request--limit 期限：2020/1/30
        .sidebar__request--message test1
    .sidebar__task-area
      .sidebar__task-request
        .sidebar__request--name 渋谷〇〇の限定スイーツ
        .sidebar__request--limit 期限：2020/1/30
        .sidebar__request--message test2

  .main
    .main__request
      .main__request--name 渋谷〇〇の限定スイーツ
      .main__request--reward 報酬金：¥3,000
      .main__request--location 場所：渋谷
      .main__request--limit 期限：2020/1/30

.footer
  .footer__contents
    .footer__contents-btn HOME
    .footer__contents-btn REQUEST
    .footer__contents-btn MESSAGE
