= render "shared/header.html.haml"

.wrapper
  = render "shared/sidebar.html.haml"

  .main
    .main__request
      .main__request--name 渋谷〇〇の限定スイーツ
      .main__request--reward 報酬金：¥3,000
      .main__request--location 場所：渋谷
      .main__request--limit 期限：2020/1/30

= render "shared/footer.html.haml"
